.top-header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;

  .left-container {
    flex: 1;
  }
  .right-container {
    margin-right: 50px;
  }
}
